body > table{
    width: 100%;
}
h1 {
    font-weight: bolder;
    font-size: xx-large;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 80px;
    /* display: inline; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
div {
    display:flex; 
    flex-direction:row;
    align-items: justify;
    justify-content: justify;
}
